[tool.poetry]
name = "mstr-rest-requests"
version = "0.14.0"
description = "Easily make requests of the MicroStrategy REST API"
authors = ["Paul Bailey <bailey@dreamshake.net>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/paulbailey/mstr-rest-requests"
packages = [
    { include = "mstr" }
]

[tool.poetry.dependencies]
python = ">=3.6.2, <4"
requests = "*" 
requests-toolbelt = "*"

[tool.poetry.dev-dependencies]
pytest = "*"
sphinx = "^3.2.1"
pytest-cov = "^2.10.1"
mypy = "^0.910"
types-requests = "^2.25.11"
black = {version = "^22.1.0"}

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
